<header class="jumbotron text-center">
    <h1>Vacation Destinations Wishlist</h1>
    <p>Found exciting places to vist on your next vacation. Use the form below to add them to your wishlist</p>
    {{#if logged_in}}
    <h6 class="text-left">Welcome back {{ user.username }}</h6>
    {{/if}}
</header>

<!-- Form section  -->
{{#if logged_in}}
<div class="destinations">
    <section class="form-section">
        <!-- Our custom form  -->
        <form class="custom-form" onsubmit="addDestination(event)">
            <!-- Destination -->
            <div class="form-group">
                <label for="name">Desination Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter the name of the destination"
                    required>
            </div>

            <!-- Location -->
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Where is it located?" required>
            </div>

            <!-- Photo -->
            <div class="form-group">
                <label for="photo">Photo</label>
                <input type="url" class="form-control" id="photo" placeholder="Enter the URL">
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description"
                    placeholder="Where is it located?"></textarea>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary submit-button">Submit</button>
        </form>
    </section>

    <section class="saved-destinations">
        <h3>My Wishlist</h3>
        <div class="info">
            {{#each destinations index=index}}
            <div class="destination-card card">
                <img class="card-img-top img" src="{{this.photo}}" alt="Destination Photo"
                    style="max-width: 100%; max-height: 150px;">
                <div class='p-3 card-body'>
                    <h5 class="destination">{{this.name}}</h5>
                    <h6 class="location">{{this.location}}</h6>
                    <p>{{this.description}}</p>
                </div>
                <div class='buttons'>
                    <button class="edit-btn btn btn-primary">Edit</button>
                    <button class='remove-btn btn btn-danger' onclick="removeDestination({{index}})">Remove</button>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    {{ else }}
    <section>
        <h1 class="text-center">Please <a href="login">log in</a> to use the features of this page</h1>
    </section>
    {{/if}}


    <script src="/js/script.js"></script>
</div>